.white{
    color:#fff;
}
.tomato { color: #FF2B25 !important}
.rose { color: #BF4845 !important}
.darkRed { color: #A6100C !important}
.lightRose { color: #FF605C !important}
.pink { color: #FF8A87 !important}

.tan { color: #FF8A25 !important}
.lightBrown{ color: #BF7D45 !important}
.brown { color: #A6530C !important}
.lightTan { color: #FFA75C !important}
.veryLightTan { color: #FFBF87 !important}

.steelBlue { color: #17949A !important}
.greyBlue { color: #2A7074 !important}
.teal { color: #086064 !important}
.robinBlue { color: #4AC7CD !important}
.cloudBlue { color: #6DC8CD !important}

.limeGreen { color: #1DC928 !important}
.leafGreen { color: #36973C !important}
.mossGreen { color: #098211 !important}
.lightGreen { color: #52E45B !important}
.seaFoam { color: #79E480 !important}
.beeGhost {
    width: 362px;
    height: 352px;
    opacity: .05; /* layer alpha */
    background-image: url("../img/beeGhost.png");
}
.kuewHero {
    width: 100%;
    height: 30%;
    background-color: #e74b3b; /* layer fill content */
    background-image:url('../img/beeGhost.png');
    background-repeat:no-repeat;

    background-position: center bottom;
}
.mainMenuItem {
    color: #fff; /* text color */
    font-family: "Arial";
    font-size: 18px;
}
.beeCircle {
    width: 6em;
    height: 6em;
    margin-top: .5em;
    margin-bottom: .5em;
    -moz-border-radius: 53px;
    -webkit-border-radius: 53px;
    border-radius: 53px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beeLogo {
	background-image: url(../img/beeLogo.png);
	position: relative;
	/* [disabled]left: -5px; */
	/* [disabled]top: 13px; */
	width: auto;
	height: 105px;
	/* [disabled]z-index: 13; */
	background-clip: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
}

.brandName {
    color: #fff; /* text color */
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 300;
    margin-left: .25em;
}
h2 {
    color: #a50f0b; /* text color */
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 300;
}

h3 {
    color: #fff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 200;
    text-align: center;
    padding-top: 1em;
}
h4 {
    /*color: #fff; *//* text color */
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 200;
    /*text-align: center;*/
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.center{
    text-align: center;
}
h5 {
    color: #fff; /* text color */
    font-family: "Roboto";
    font-size: 24px;
}
.headerBumper{

    min-height: 1em;
    background-color: #6dc7cd; /* layer fill content */
}
.navbarOuter {
	width: 100%;
/*	height: 74px;*/
/*	background-color: #ff2d25; *//* layer fill content */
}

.bumperInner {
    width: 1200px;
    height: 45px;
    background-color: #79e37f; /* layer fill content */
}


/*Plan box layout*/

.planPrice {
    color: #6dc7cd; /* text color */
    font-family: "Roboto";
    font-size: 72px;
}
.planPeriod {
    color: #1dc927; /* text color */
    font-family: "Roboto";
    font-size: 24px;
}
.planButtonText {
    color: #fff; /* text color */
    font-family: "Roboto";
    font-size: 24px;
}
.planButton {
    width: 100%;
    height: 55px;
    background-color: #9999cb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.planSmall {
    /*color: #fff; *//* text color */
    font-family: "Roboto";
    font-size: 14px;
}
.planHeader {
    width: 100%;
    height: 25%;
/*    background-color: #79e37f;*/
}

.planName {
color: #fff;
    color: #086064;
    font-family: "Roboto";
    font-size: 48px;
    text-align: center;
}

.planBox {
    width: 218px;
    height: 313px;
   /* background-color: #6dc8cd;*/
    display: flex;
    flex-flow: column;
    align-items: center;
   /* margin: 6em;*/
    font-weight: 300
}
.menuUnderscore {
    width: 100px;
    height: 2px;
    background-color: #fff; /* layer fill content */
}
.planPageFooter {
    width: 1600px;
    height: 65px;
    background-color: #79e37f; /* layer fill content */
}
.naveBarInner {
    width: 100%;
   /* height: 74px;*/
  /*  background-color: #ff2d25; *//* layer fill content */
}
.mainMenuItem:hover {
    color: #51e35b; /* text color */
    font-family: "Arial";
    /*font-size: 24px;*/
}

.navbar-header{
    display: flex;
    align-items: center;
}
.brandBox{
    display: flex;
    align-items: center;
}
.mainMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    list-style-type: none;
}

.bumperText {
    color: #a50f0b; /* text color */
    font-family: "Roboto";
    font-size: 14px;
    padding: 1em;
    /*margin: 1em;*/
}
.planList{
    list-style-type: none;
    display: flex;
    flex-flow: row;
   /* margin-top: 2em;*/
/*    margin-bottom: 1em;*/
    text-align: center;
    justify-content: space-between;

}

.pricebox{
    height: 60%;
    width: 100%;
}
.coolguy {
    width: 94px;
    height: 293px;
}
.userCount {
    width: 133px;
    height: 288px;
    background-color: #79e37f; /* layer fill content */
}
.explainer {
    color: #a50f0c; /* text color */
    font-family: "Roboto";
    font-size: 18px;
}
.userCountBox{
    font-size: 10em;
    width: 1em;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px;
    border-bottom-style: solid;
}
.guyBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
.priceUserCountRow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.explainer {
    color: tomato;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
    text-align: justify;
}
.pricingTable {
    font-family: roboto;
    font-size: 1.5em;
    font-weight: 300;
}
.pricingTable thead{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}
@media (min-width: 1200px)
    .container {
        max-width: 100% !important;
    }
